/* Resources/Private/NeosApiUiAdjustments/index.css */
.leftSideBar {
  grid-area: leftSidebar;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background: var(--colors-ContrastDarkest);
  min-width: 320px;
  max-width: 50vw;
  right: unset;
  position: relative;
  resize: horizontal;
  overflow-x: auto;
  overflow-y: hidden;
}
.leftSideBar--isHidden {
  display: none;
}
.leftSideBar__top {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(40px + 40px);
  height: 50%;
  margin-right: var(--spacing-Quarter);
  resize: none;
  overflow-y: auto;
  z-index: 1;
}
